:root {
    --nav-color: #ffffff;
    --nav-hover-color: #47b2e4;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #444444;
    --nav-dropdown-hover-color: #47b2e4;
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --nav-font: "Poppins", sans-serif;
    --heading-font: "Jost", sans-serif;
    --heading-color: #37517e;
}
* {
    box-sizing: border-box;
}
strong {
    font-weight: bolder;
}
.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-md6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-md12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 100%;
    }
    
    .col-md6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}
@media (min-width: 992px) {
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    
    .container{
        max-width: 960px;
    }
    .col {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
}
@media (min-width:1200px){
    .container {
        max-width: 1140px;
    }
}
body{
    margin: 0;
}

#preview h2 {    
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
}
#preview h2, h3, h4 {
    font-family: "Jost", sans-serif;
    color: #37517e;
}
section {
    background-color: white;
    padding: 60px 0;
}
.testimonials-top {
    padding: 0 12px 60px;
    text-align: center;
    position: relative;
}
.testimonials-top > h2 {
    display: flex;
    justify-content: center;
    margin: 0;
}
.testimonials-top > h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 1px;
    background: color-mix(in srgb, #444444 ,transparent 60%);
    margin: auto;
}
.testimonials-top > h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #47b2e4;
    margin: auto;
}
.testimonials-top > p {
    font-family: var(--default-font);
    color: #444444;
    margin: 0;
}
.testimonials-bottom {
    background-color:white;
    margin: 0 auto;
    padding: 0 12px;
}
.testimonials-bottom--item {
    text-align: center;
}
.testimonials-bottom--item > img {
    border-radius: 50%;
    width: 120px;
    margin: 0 auto;
}
.testimonials-bottom--item > h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.testimonials-bottom--item > h4 {
    font-size: 14px;
    color: 
    color-mix(in srgb, #444444, transparent 40%);
    margin: 0 0 15px 0;
}
.testimonials-bottom--item > .stars {
    margin-bottom: 15px;
}
.testimonials-bottom--item > p {
    font-style: italic;
    margin: 0 auto 15px auto;
    width: 80%;
}
.testimonials-bottom--item > p > span {
    color: #444444;
}
.testimonials-bottom .swipe-bar {
    margin-top: 20px;
    position: relative;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
.swipe-bar--bullet {
    margin: 0 2px;
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: 
    color-mix(in srgb, #444444, transparent 85%);
    border-radius: 50%;
    display: inline-block;
}
.swipe-bar--bullet:nth-of-type(3){
    background-color: #47b2e4;
}
/* faq-2부분 */
#faq-2 {
    background-color: #f5f6f8;
}


.faq-2-content {
    justify-content: center !important;
}
.row {
    /* justify-content: center !important; */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.faq-2 .faq-container {
    margin-top: 15px;
}
.faq-container .faq-item {
    background-color: white;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.faq-item .faq-icon {
    position: absolute;
    top: 22px;
    left: 20px;
    font-size: 20px;
    line-height: 0;
    transition: 0.3s;
    color: #47b2e4;;
}
.faq-icon::before {
    display: inline-block;
    content: "\f505"; 
}
.faq-item h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0 30px 0 32px;
    transition: 0.3s;
    cursor: pointer;
}
.faq-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.faq-content > p {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}
.faq-toggle {
    position: absolute;
    top: 29px;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    transition: 0.3s;
    cursor: pointer;
}
.faq-toggle::before {
    content: "\f285";
    font-family: bootstrap-icons;
}
/* CONTACT부분 */

.contact-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.contact-row>*{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
.info-wrap {
    background-color:#ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    /* height: 100%; */
}
.info-item {
    margin-bottom: 40px;
    display: flex !important;
    justify-content: flex-start;
    align-items: center
}
#address::before {
    content: "\f3e8";
}
#call-us::before {
    content: "\f5c1";
}
#email-us::before {
    content: "\f32f";
}
.contact-bi::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}
.contact-bi {
    font-size: 20px;
    border-radius: 50%;
    color: #47b2e4;
    background: color-mix(in srgb, #47b2e4, transparent 92%);
    margin-right: 15px;
    width: 44px;
    height: 44px;
    display: flex;
    flex-shrink: 0 !important;
    justify-content: center;
    align-items: center;
}
.contact-bi:hover{
    color: white;
    background: #47b2e4;
}

.info-item > div > h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
}
.info-item > div > p { 
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.contact-form {
    background-color: #ffffff;
    height: 100%;
    padding: 30px;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.form-control:focus{
    border-color: #47b2e4;
}
.col-md6 {
    font-family: var(--default-font);
}
.pb-2 {
    padding-bottom: .5rem;
    display: inline-block;
    color: #444444;
}
#name-field {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: #444444;
    border: 1px solid #dee2e6;
    background-color: color-mix(in srgb, #ffffff, transparent 50%);
    border-color: color-mix(in srgb, #444444, transparent 80%);
}

#message-field {
    width: 100%;
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: #444444;
    background-color: color-mix(in srgb, #ffffff, transparent 50%);
    border-color: color-mix(in srgb, #444444, transparent 80%);
    min-height: calc(1.5em + .75rem + calc(1px * 2));
}
.text-center {
    text-align: center !important;
}
#send {
    width: 167px;
    height: 44px;
    font-size: 16px;
    color: #ffffff;
    background: #47b2e4;
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}
/* footer부분 */
.footer {
    color: #444444;
    background-color: #ffffff;
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
}
.footer .footer-newsletter {
    background-color: 
    color-mix(in srgb, #37517e, transparent 95%);
    padding: 50px 0;
}
.footer-row {
    justify-content: center;
    text-align: center;
}
.col-lg-6 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
.footer-newsletter h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
.footer-newsletter p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.newsletter-form {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 6px 8px;
    position: relative;
    background-color: color-mix(in srgb, #ffffff, transparent 50%);
    border: 1px solid color-mix(in srgb, #444444, transparent 90%);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    transition: 0.3s;
    border-radius: 50px;
}
input[type=email] {
    border: 0;
    padding: 4px;
    width: 100%;
    background-color: color-mix(in srgb, #ffffff, transparent 50%);
    color: #444444;
}
input[type=email]:focus {
    border: 0;
}
.footer .footer-newsletter .newsletter-form input[type=submit] {
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    margin: -7px -8px -7px 0;
    background: #47b2e4;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 50px;
}
.footer-top {
    padding-top: 50px;
}
.footer-about a {
    color: #37517e;;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--heading-font);
    text-decoration: none;
}
.footer-links {
    margin-bottom: 30px;
}
.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: .5rem;
}
.footer-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-link ul li, li:first-child {
    padding-top: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer-link ul i {
    margin-right: 3px;
    font-size: 12px;
    line-height: 0;
    color: #47b2e4;
}
.bi-right::before {
    display: inline-block;
    content: "\f285";
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}
.footer .footer-link ul a {
    display: inline-block;
    color: color-mix(in srgb, #444444, transparent 20%);
    line-height: 1;
    text-decoration: none;
}
.col-lg-4 > p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.social-links {
    display: flex;
}
.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, #444444, transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, #444444, transparent 20%);
    margin-right: 10px;
    transition: 0.3s;
    text-decoration: none
}
.twitter::before {
    content: "\f8db";
}
.facebook::before {
    content: "\f344";
}
.instagram::before {
    content: "\f437";
}
.linkedin::before {
    content: "\f472";
}
.copyright {
    text-align: center !important;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 1.5rem !important;
    border-top: 1px solid color-mix(in srgb, #444444, transparent 90%);
}
.copyright p {
    margin-bottom: 0;
    margin-top: 0;
}
.px-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important;
}
.footer .credits {
    margin-top: 6px;
    font-size: 13px;
    text-align: center !important;
}
.footer .credits a {
    color: #47b2e4;
    text-decoration: none;
    transition: 0.3s;
}
.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}
.scroll-top {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: #47b2e4;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}
.scroll-top i {
    font-size: 24px;
    color: #ffffff;
    line-height: 0;
}
.bi-arrow-up-short::before {
    content: "\f145";
}
.bi::before{
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}

